__pycache__/
*.pyc
*.pyo
*.pyd

dist/
*.exe

*.log
app_stdout.log
app_stderr.log
main_stdout.log
main_stderr.log
main_stdout_real.log
main_stderr_real.log
runtime.log

login_debug_output.png
login_debug_output.txt
login_debug_output_utf8.txt

cookies.txt
